.main {
    margin-top: 50px;
    .box {
        .text {
            font: normal normal medium 12px/15px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            text-transform: uppercase;
            opacity: 0.62;
            margin: 0 0 10px 5px;
        }
        .input {
            width: 100%;
            padding: 10px;
            outline: none;
            box-sizing: border-box;
        }
        .select {
            min-height: 40px;
            border: 1px solid gray;
            border-top: none;
            ::ng-deep .mat-select-trigger {
                padding: 10px;
                background-color: white;
            }
        }
    }
}
