<div class="main" fxFlex fxLayout fxLayoutAlign="space-between center">
  <div class="box" fxLayout='column' fxFlex=47>
    <span class="text">FROM</span>
    <div>
      <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
    </div>
    <div class="select">
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </div>

  </div>
  <div class="box" fxLayout='column' fxFlex=47>
    <span class="text">TO</span>

    <div>
      <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
    </div>
    <div class="select">
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </div>

  </div>
</div>